services:
  - type: web
    name: luxe-rose-backend
    runtime: node
    plan: starter
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: STRIPE_SECRET_KEY
        sync: false # Renderの管理画面から入力してください
      - key: NODE_VERSION
        value: 18.16.0
